<div class="home">
  <div class="description">
    Esta herramienta tiene como objetivo real mostrar el funcionamiento de los componentes para desarrollo de aplicaciones TAC generados por 
    <a class="github" href="https://github.com/tacteam/">tacteam</a>.
    <br/>
    <div class="sub-description">
    Durante el desarrollo de la tienda TAC, se extrajeron algunos componentes para simplificar la creación de nuevas aplicaciones.
    <br/>
    Este sitio puede ser navegado con eventos emitidos por un control remoto, sin necesidad de conectar un teclado o mouse. En este caso se emulan los eventos del control remoto a trave del teclado.
    <br/>
    No obstante, es posible la integracion de la navegación por control remoto, teclado y mouse.
    <br/>
    Para modificar campos de texto tambien se dispone de teclados virtuales.
    </div>
    <div class="developers">
      Federico Repond. <span class="address">frepond@gmail.com</span><br/>
      Alejandro Castro. <span class="address">alejandrocastrounqui@gmail.com</span><br/>
      Mariano Varela. <span class="address">marianogvarela@gmail.com</span><br/>
      Fernando Garcia (Nando) <span class="address">fernando.d.garcia@gmail.com</span><br/>
      Nazareno Castro <span class="address">nazarenomartincastro@gmail.com</span><br/>
    </div>
  </div>
</div>